@{
    ViewData["Title"] = "Carrinho | ";
}
@model IEnumerable<Carrinho>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="script" href="site.js">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/lib/bootstrap_electro/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/style.css" />

    <style>
        
    </style> 
</head>

<body>
    <h1>O seu Carrinho</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Adicionado Em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Carrinho in Model)
            {
                <tr>
                    <td>@Carrinho.Produto?.Nome</td>
                    <td>@Carrinho.Quantidade</td>
                    <td>@Carrinho.DataAdicionado</td>
                    <td>
                        <!-- Form para Remover -->
                        <form asp-action="DeleteCartItem" asp-route-id="@Carrinho.ProdutoID" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

