@using Azure.Core

@{
    ViewData["Title"] = "Search | ";
}
@model List<Produto>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="script" href="script.js">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/lib/bootstrap_electro/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/style.css" />

</head>


    <h1>Pesquisar Produtos</h1>

    <!-- Formulário de pesquisa -->
    <form method="get" action="/Produto/Search">
        <input type="text" name="query" placeholder="Procurar..." value="Produto" />
        <button type="submit">Pesquisar</button>
    </form>

    @if (Model.Any()) 
    {
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in Model)
                {
                    <tr>
                        <td>@produto.Nome</td>
                        <td>@produto.Marca</td>
                        <td>@produto.Modelo</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nenhum produto encontrado.</p>
    }
