@using System.Reflection
@model IEnumerable<WebApp.Models.Produto>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="index.css">
    <link rel="script" href="script.js">
</head>
<body>
   
</body>

