@{
    ViewData["Title"] = "Criar Morada | ";
}
@model Enderecos
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Morada</title>
    <link rel="script" href="site.js">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/lib/bootstrap_electro/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/style.css" />

    <style>
 
    </style>
</head>

<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <div class="container-criarmorada">
        <form method="post" asp-action="CriarMorada" asp-controller="Perfil">
            <div class="form-group">
                <label for="nomesAlternativos">Nomes alternativos</label>
                <input type="text" id="nomesAlternativos" class="form-control" placeholder="Opcional" />
            </div>

            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" asp-for="Nome" class="form-control" placeholder="Nome" />
            </div>

            <div class="form-group">
                <label for="empresa">Empresa</label>
                <input type="text" id="empresa" asp-for="Empresa" class="form-control" placeholder="Opcional" />
            </div>

            <div class="form-group">
                <label for="nif">NIF</label>
            <input type="number" id="nif" asp-for="NIF" min="100000000" max="999999999" form-control" placeholder="Opcional" />
            </div>

            <div class="form-group">
                <label for="codigoPostal">Código postal</label>
                <input type="text" id="codigoPostal" asp-for="CodigoPostal" class="form-control"
                placeholder="0000-000" pattern="\d{4}-\d{3}" title="Digite no formato 0000-000" />
            </div>

            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" id="endereco" asp-for="EnderecoLinha1" class="form-control" />
            </div>

            <div class="form-group">
                <label for="numero">Número</label>
                <input type="number" id="numero" asp-for="Numero" class="form-control" />
            </div>

            <div class="form-group">
                <label for="cidade">Cidade</label>
                <input type="text" id="cidade" asp-for="Cidade" class="form-control" />
            </div>

            <div class="form-group">
                <label for="estado">Distrito</label>
                <select id="estado" asp-for="Distrito" class="form-control">
                    <option value="">Por favor, escolha</option>
                    <option value="Lisboa">Lisboa</option>
                    <option value="Porto">Porto</option>
                    <option value="Santarém">Santarém</option>
                    <option value="Faro">Faro</option>
                </select>
            </div>

            <div class="form-group">
                <label for="pais">País</label>
                <input type="text" id="pais" asp-for="Pais" class="form-control" value="Portugal" readonly />
            </div>

            <div class="form-group">
                <label for="telemovel">Telemóvel</label>
                <input type="number" id="telemovel" asp-for="Telemovel" min="100000000" max="999999999" class="form-control" />
            </div>

            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select id="tipo" asp-for="Tipo" class="form-control">
                    <option value="">Selecione o tipo</option>
                    <option value="Entrega">Morada de Entrega</option>
                    <option value="Faturacao">Morada de Faturação</option>
                </select>
            </div>

            <button type="submit" class="btn btn-save">Guardar</button>

        </form>

        <div class="footer-buttons">
            <button onclick="location.href='/Perfil'" class="btn btn-secondary">← Voltar para a tua conta</button>
            <button onclick="location.href='/'" class="btn btn-secondary">Home</button>
        </div>
    </div>

    <script>
        document.getElementById('nif').addEventListener('input', function (e) {
            const maxDigits = 9;
            if (this.value.length > maxDigits) {
                this.value = this.value.slice(0, maxDigits); // Limita a entrada a 9 dígitos
            }
        });
    </script>
</body>