@{
    ViewData["Title"] = "Perfil | ";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="script" href="site.js">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/lib/bootstrap_electro/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/style.css" />

    <style>
        <!-- Tá no style.css-->
    </style>
</head>
<body>
    <div class="container">
        <br/>
        <div class="breadcrumb">A tua conta</div>
        <div class="grid">
            <a href="Perfil/DadosPessoais" class="card">
                <div class="card-icon">👤</div>
                <div class="card-title">Dados Pessoais</div>
            </a>
            <a href="Perfil/Moradas" class="card">
                <div class="card-icon">📍</div>
                <div class="card-title">Moradas</div>
            </a>
            <a href="Perfil/HistoricoEncomendas" class="card">
                <div class="card-icon">📅</div>
                <div class="card-title">Histórico de Encomendas</div>
            </a>
            <a href="Perfil/Faturas" class="card">
                <div class="card-icon">🧾</div>
                <div class="card-title">Faturas</div>
            </a>
            <a href="Perfil/Vouchers" class="card">
                <div class="card-icon">🏷️</div>
                <div class="card-title">Vouchers</div>
            </a>
            <a href="Perfil/Tracking" class="card">
                <div class="card-icon">🚚</div>
                <div class="card-title">Tracking</div>
            </a>
            <a href="Perfil/EliminarConta" class="card">
                <div class="card-icon">❌</div>
                <div class="card-title">Eliminar Conta</div>
            </a>
            <a href="Perfil/NewsLetter" class="card">
                <div class="card-icon">📋</div>
                <div class="card-title">Subscrição de NewsLetter</div>
            </a>
            <a href="/Login/Logout" class="card">
                <div class="card-icon">😊</div>
                <div class="card-title">Terminar Sessão</div>
            </a>
        </div>
        <br/>
    </div>
</body>

