<h3>Histórico</h3>
@if (Model.Historico != null && Model.Historico.Any())
{
    <ul>
        @foreach (var item in Model.Historico)
        {
            <li>@item</li>
        }
    </ul>
}
else
{
    <p>Sem histórico disponível.</p>
}
