@{
    ViewData["Title"] = "Sobre Nós | ";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="script" href="script.js">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/lib/bootstrap_electro/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/style.css" />

</head>


<body>
    
    <section id="sobre-nos">
        <div class="container">
            <h2>Sobre Nós</h2>
            <p>
                Na Gettech, dedicamo-nos a oferecer soluções de tecnologia inovadoras e acessíveis para ajudar as pessoas e empresas a alcançarem o seu potencial máximo. A nossa missão é transformar a forma como os nossos clientes interagem com a tecnologia, proporcionando produtos e serviços que são, ao mesmo tempo, intuitivos e poderosos.
            </p>
            <p>
                Com uma equipa especializada e apaixonada pela excelência, priorizamos a qualidade, a segurança e a satisfação do cliente em todas as etapas dos nossos processos. Acreditamos que a tecnologia deve ser uma ferramenta acessível e confiável, e estamos empenhados em tornar isso uma realidade para todos os que confiam em nós.
            </p>
        </div>
    </section>


</body>
