body {
    position: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* Login layout */
.login {
        width: 300px;
        height: 400px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
}

.form-box {
    width: 250px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.footer {
    position: fixed;
    padding-bottom: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: left;
}