/* Links */
a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    font-size: 12px;
    transition: color 0.3s ease;
}

    a:hover {
        color: #0469dc;
        text-decoration: underline;
    }

    a:active {
        color: #e60023;
    }